

body {
    background-image: url(images/11.jpg);
    background-repeat: no-repeat;
    background-size: 1539px 1000px;
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --first: white;
    --second: #332ee0;
    --third: #D6ced8;
    --forth: #ff0808;
    --fifth: #d77e80;
}

.about {
    background-color: white;
    margin-top: 200px;
}

h3 {

    color: #ff0808;
    size: 70px;
    text-align: center;
}

h4 {
    color: black;
    size:22;
    text-align: center;
}

.pic {
  background-color: white;
}

.pic > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

body{
    font-family: 'Orbitron', sans-serif;
}

/* header mobile first*/
header{
    background: rgb(73,73,73);
    background: linear-gradient(90deg, rgba(73,73,73,0.8242647400757178) 25%, rgba(112,112,112,0.9082983535210959) 45%, rgba(219,219,219,0.4713235636051295) 75%);
    width: 100%;
    position: fixed;
    overflow: hidden; 
    top: 0;
    z-index: 1;
    font-size: 11px;
    opacity: 0.7;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header ul a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 15px;

}

header li a:hover{
    color: rgb(255, 0, 0);
    transition: 0.5s;
}
.logo{
    text-decoration: none;
    float: left;
    display: block;
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 5px;
    color: white;
}
.logo:hover{
    color: rgb(255, 0, 0);
    transition: ease-out 0.8s;
}


header .navigation {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right ;
    cursor: pointer;
}

header .menu-icon .nav-icon{
    background:#000000;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

header .menu-icon .nav-icon:before{
    background: #000000;
    content:"" ;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

header .menu-icon .nav-icon::after{
    background: #000000;
    content:"" ;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

header .menu-btn{
    display: none;
}

header .menu-btn:checked ~ .navigation {
    max-height: 280px;
}

header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}

header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg); 
    top: 0;
}

header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}

/*Footer*/

#footer{
    position: static;
    bottom: 0;
    width: 100%;
    height: 150px;  
    background: rgb(73,73,73);
    background: linear-gradient(90deg, rgba(73,73,73,0.8242647400757178) 25%, rgba(112,112,112,0.9082983535210959) 45%, rgba(219,219,219,0.4713235636051295) 75%);
    opacity: 0.8;
}
a,h2,p{
    color: black;
}
.text{
    color: black;
}
.email{
    color: white;
}
.place{
    color: white;
}
.phone{
    color: white;
}
h2{
    text-align: center;
}
.social{
    text-align: center;
}
.content{
    text-align: center;
}
.copyright{
text-align: center;
}

/*header small tablet */

@media (min-width:46.3em) {
   
    header{
        width: 100%;
        position: fixed; 
        top: 0;
        z-index: 1;
    }
    header .logo{
        font-size: 1.9em;
    }
    header ul a{
        font-size: 16px;
        color: rgb(0, 0, 0);
        margin-top: 5px;
    }
    header li{
        float: left;
    }
    header li a{
        color: black;
        padding:10px 24px;
        padding-top: 15px;
        
    }
    header li a:hover{
        color: rgb(255, 255, 255);
    }
    header ul a:hover{
        margin-right: 10px;
    }

    header .navigation{
        clear: none;
        float: right;
        max-height: none;
    }
    header .menu-icon{
        display: none;
    }

    /* header large tablet*/

    @media (min-width:64em){
    
        header{
            width: 100%;
            top: 0;
            z-index: 1;
            position: fixed; 
        }
        header .logo{
            font-size: 2em;
        }
    
        header li a{
            color: black;
            font-size: 18px;
            padding-top: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
            padding-right: 60px;
        }
        header li a:hover{
            margin-right: 10px;
        }
        header ul a:hover{
            margin-right: 10px;
        }
    
        
    
        /*Laptop and Desktop*/
    
    @media (min-width:80em){
    
        header .logo{
            font-size: 2.5em;
        }
        header li a{
            color:black;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 80px;
            font-size: 1.6em;
        }
        header li a:hover{
            color: rgb(255, 255, 255);
        }
        header ul a:hover{
            margin-right: 10px;
        }