
*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-image: url("images/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

header{
    background: rgb(73,73,73);
    background: linear-gradient(90deg, rgba(73,73,73,1) 25%, rgba(138,138,138,1) 45%, rgba(213,213,213,1) 75%);    width: 100%;
    position: fixed;
    overflow: hidden; 
    top: 0;
    z-index: 1;
    font-size: 11px;
    opacity: 0.8;
}

header ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header ul a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: rgb(209, 209, 209);
    font-size: 15px;

}

header li a:hover{
    color:rgb(255, 255, 255) ;
    transition: 0.5s;
}
header .logo{
    float: left;
    display: block;
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 5px;
    color: white;
}

header .navigation {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right ;
    cursor: pointer;
}

header .menu-icon .nav-icon{
    background:#000000;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

header .menu-icon .nav-icon:before{
    background: #000000;
    content:"" ;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

header .menu-icon .nav-icon::after{
    background: #000000;
    content:"" ;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

header .menu-btn{
    display: none;
}

header .menu-btn:checked ~ .navigation {
    max-height: 280px;
}

header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}

header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg); 
    top: 0;
}

header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}
.css-input {
    padding: 2px;
    font-size: 19px;
    border-width: 4px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 17px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    margin-top: 15px;
}
.css-input:focus {
    outline:none;
}
.myButton {
	box-shadow: 3px 4px 0px 0px #7d7d7d;
	background:linear-gradient(to bottom, #ededed 5%, #878787 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #8a8a8a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Orbitron', sans-serif;
	font-size:17px;
	padding:7px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin-top: 15px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #878787 5%, #ededed 100%);
	background-color:#878787;
}
.myButton:active {
	position:relative;
	top:1px;
}
.data{
    text-align: center;
    margin-top: 150px;
}

/*Footer*/

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;  
    background: rgb(73,73,73);
    background: linear-gradient(90deg, rgba(73,73,73,1) 25%, rgba(138,138,138,1) 45%, rgba(213,213,213,1) 75%);
    opacity: 0.9;
}
a,h2,p{
    color: black;
}
.text{
    color: black;
}
.email{
    color: white;
}
.place{
    color: white;
}
.phone{
    color: white;
}
h2{
    text-align: center;
}
.social{
    text-align: center;
}
.content{
    text-align: center;
}
.copyright{
text-align: center;
}

/*small tablet*/

@media (min-width:740px) {
   
    header{
        width: 100%;
        position: fixed; 
        top: 0;
        z-index: 1;
    }
    header .logo{
        font-size: 1.6em;
    }
    header ul a{
        font-size: 14px;
        color: rgb(0, 0, 0);
    }
    header li{
        float: left;
    }
    header li a{
        color: black;
        padding:10px 24px;
        padding-top: 15px;
        
    }
    header li a:hover{
        color: rgb(255, 0, 0);
    }
    header ul a:hover{
        margin-right: 10px;
    }

    header .navigation{
        clear: none;
        float: right;
        max-height: none;
    }
    header .menu-icon{
        display: none;
    }
    /*large tablet*/

@media (min-width:1024px){
    .data{
        text-align: center;
        color: white;
         margin-top: 300px;
    }
    header{
        width: 100%;
        top: 0;
        z-index: 1;
        position: fixed; 
    }
    header .logo{
        font-size: 2em;
    }

    header li a{
        color: black;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-right: 60px;
    }
    header li a:hover{
        margin-right: 10px;
    }
    header ul a:hover{
        margin-right: 10px;
    }
     .css-input {
        margin: 20px;
        padding: 4px;
        font-size: 30px;
        border-width: 7px;
        border-color: #CCCCCC;
        background-color: #FFFFFF;
        color: #000000;
        border-style: solid;
        border-radius: 50px;
        box-shadow: 0px 0px 14px rgba(66,66,66,.85);
        text-shadow: 0px 0px 5px rgba(66,66,66,.75);
   }
    
    .data{
        text-align: center;
        color: white;
         
    }
    .myButton {
        margin-top: 20px;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:linear-gradient(to bottom, #ededed 5%, #706c70 100%);
        background-color:#ededed;
        border-radius:25px;
        border:1px solid #dcdcdc;
        display:inline-block;
        cursor:pointer;
        color:#000000;
        font-family: 'Orbitron', sans-serif;
        font-size:22px;
        font-weight:bold;
        padding:10px 33px;
        text-decoration:none;
        text-shadow:0px 0px 5px #ffffff;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #706c70 5%, #ededed 100%);
        background-color:#706c70;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    
    

    /*Laptop and Desktop*/

@media (min-width:1280px){
    header .logo{
        font-size: 2.5em;
    }
    header li a{
        color: black;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 80px;
        font-size: 1.6em;
    }
    header li a:hover{
        color: rgb(255, 0, 0);
    }
    header ul a:hover{
        margin-right: 10px;
    }
    .css-input {
        margin: 20px;
        padding: 4px;
        font-size: 30px;
        border-width: 7px;
        border-color: #CCCCCC;
        background-color: #FFFFFF;
        color: #000000;
        border-style: solid;
        border-radius: 50px;
        box-shadow: 0px 0px 14px rgba(66,66,66,.85);
        text-shadow: 0px 0px 5px rgba(66,66,66,.75);
   }
    
    .data{
        text-align: center;
        color: white;
         margin-top: 180px;
         float: right;
         margin-right: 200px;

    }
    .myButton {
        margin-top: 20px;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:linear-gradient(to bottom, #ededed 5%, #706c70 100%);
        background-color:#ededed;
        border-radius:25px;
        border:1px solid #dcdcdc;
        display:inline-block;
        cursor:pointer;
        color:#000000;
        font-family: 'Orbitron', sans-serif;
        font-size:22px;
        font-weight:bold;
        padding:10px 33px;
        text-decoration:none;
        text-shadow:0px 0px 5px #ffffff;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #706c70 5%, #ededed 100%);
        background-color:#706c70;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }


